:root {
    color: black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    display: block;
}

p {
    margin-left: 40px;
    color: rgba(90, 90, 90, 1);
}

li {
    margin-left: 50px;
}

.code-li {
    margin-left: 20px;
    list-style-position: outside;
    list-style: none;
    font-size: 12px;
}

.code-no-li {
    background: rgba(100, 100, 100, 0.1);
    padding: 15px 20px 5px 0px;
    margin-left: 39px;
    border-radius: 6px;
    font-size: 12px;
}

#navbar {
    position: fixed;
}

#navbar-header {
    font-family: 'Playfair Display';
    font-size: 3rem;
    padding-left: 16px;
    padding-top: 10px;
}

#navbar-ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0px;
}

.navbar-li {
    border-top: 0.5px solid black;
    padding: 4px 20px 0px 20px;
    margin-left: -8px;
}

.nav-link {
    display: block;
    margin: -4px -20px -1px -20px;
    padding-left: 20px;
    color: rgba(100, 100, 100, 1);
    font-size: 1.1rem;
    line-height: 4rem;
    text-decoration: none;
    padding-right: 20px;
}

.nav-link:hover {
    background: rgba(150, 150, 150, 0.2);
    ;
    color: black;
    cursor: pointer;
}

#main-doc {
    border-left: 2px solid black;
    margin: -8px 0px -20px 260px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.main-section {
    padding-left: 25px;
}

header {
    font-size: 2.4rem;
}

pre {
    background: rgba(100, 100, 100, 0.1);
    padding: 5px 20px 5px 5px;
    border-radius: 6px;
}

#Introduction {
    background: none;
}

#The_first_step {
    background: none;
}

#HTML_5 {
    background: none;
}

#Elements {
    background: none;
}

#Attributes {
    background: none;
}

#Data_Types {
    background: none;
}

#Document_Type_Declaration {
    background: none;
}

#Semantic_HTML {
    background: none;
}

#Delivery {
    background: none;
}

#Reference {
    background: none;
}

@media (max-width: 856px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #navbar {
        position: unset;
    }
    #navbar-header {
        text-align: center;
    }
    #navbar-ul {
        padding-left: 0px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid rgba(100, 100, 100, 1);
        overflow-y: auto;
        overflow-x: hidden;
        height: 200px;
    }
    .navbar-li {
        text-align: center;
        border-top: none;
        border-bottom: 0.5px solid black;
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
    }
    .nav-link {
        font-size: 1.4rem;
    }
    #main-doc {
        border-left: none;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .code-li {
        margin-left: 3px;
        font-size: 10px;
    }
    .code-no-li {
        font-size: 10px;
    }
}